PORT=5000
MONGODB_URI=mongodb+srv://hedristemitope2001_db_user:Kj0iCEucdgARoVYh@cluster0.dufhm5f.mongodb.net/
DB_PASSWORD = Kj0iCEucdgARoVYh
JWT_ACCESS_SECRET= akure_clean-nyH8o8HgWLdvVGJMMJIKsmgxykv6TsxVri7bdfr0gfM
JWT_REFRESH_SECRET=ZuJNBT2JEdTrSHgXVAJ3Yth7fsdrgnZ3bkfLdVGAk75-akure_clean
PAYSTACK_SECRET_KEY=your_paystack_secret_key
NODE_ENV=development